Repository csmosbot/csmos, pull requests merged in 2023-12, with the labels that each got.

#31 chore(env): remove unused, rename TOKEN to DISCORD_TOKEN
  .env.example
  apps/bot/src/structures/client.ts
  apps/bot/src/utils/env.ts
Labels: 🤖 bot

#34 feat: add leaderboard
  apps/bot/src/commands/information/leaderboard.ts
  apps/bot/src/slashCommands/information/leaderboard.ts
Labels: 🤖 bot

#39 feat(web): add custom selection color
  apps/web/styles/globals.css
Labels: ✨ enhancement, 🖥️ website

#41 feat: add vercel analytics
  apps/web/package.json
  apps/web/pages/_app.tsx
  pnpm-lock.yaml
Labels: ✨ enhancement, 🔗 dependencies, 🖥️ website

#46 refactor(db): use sql and prisma
  apps/bot/package.json
  apps/bot/src/commands/configuration/defaultvolume.ts
  apps/bot/src/commands/configuration/prefix.ts
  apps/bot/src/commands/information/help.ts
  apps/bot/src/commands/information/leaderboard.ts
  apps/bot/src/commands/information/rank.ts
  apps/bot/src/commands/information/stats.ts
  apps/bot/src/commands/moderation/delwarn.ts
  apps/bot/src/commands/moderation/warn.ts
  apps/bot/src/commands/moderation/warnings.ts
  apps/bot/src/commands/music/pause.ts
  apps/bot/src/commands/music/previous.ts
  apps/bot/src/commands/music/resume.ts
  apps/bot/src/commands/music/skip.ts
  apps/bot/src/commands/music/stop.ts
  apps/bot/src/commands/music/unshuffle.ts
  apps/bot/src/events/messageCreate.ts
  apps/bot/src/features/leveling.ts
  apps/bot/src/features/messages.ts
  apps/bot/src/slashCommands/configuration/set.ts
  apps/bot/src/slashCommands/information/help.ts
  apps/bot/src/slashCommands/information/leaderboard.ts
  apps/bot/src/slashCommands/information/rank.ts
  apps/bot/src/slashCommands/information/stats.ts
  apps/bot/src/slashCommands/moderation/delwarn.ts
  apps/bot/src/slashCommands/moderation/warn.ts
  apps/bot/src/slashCommands/moderation/warnings.ts
  apps/bot/src/slashCommands/music/pause.ts
  apps/bot/src/slashCommands/music/previous.ts
  apps/bot/src/slashCommands/music/resume.ts
  apps/bot/src/slashCommands/music/skip.ts
  apps/bot/src/slashCommands/music/stop.ts
  apps/bot/src/slashCommands/music/unshuffle.ts
  apps/bot/src/structures/client.ts
  apps/bot/src/types/guild.ts
  apps/bot/src/types/user.ts
  apps/bot/src/utils/player.ts
  apps/bot/src/utils/prefix.ts
  package.json
  packages/db/index.ts
  packages/db/package.json
  packages/db/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Labels: ✨ enhancement, 🤖 bot

#47 feat(ci): add pnpm cache
  .github/workflows/ci.yml
Labels: ⚙️ actions

#50 refactor(docs): move to astro and starlight
  .gitignore
  apps/web/.eslintrc.cjs
  apps/web/.prettierrc.js
  apps/web/README.md
  apps/web/astro.config.mjs
  apps/web/components/footer.tsx
  apps/web/components/landing.tsx
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/_app.tsx
  apps/web/pages/_document.tsx
  apps/web/pages/_meta.json
  apps/web/pages/about.mdx
  apps/web/pages/docs/_meta.json
  apps/web/pages/docs/advanced.mdx
  apps/web/pages/docs/advanced/satori.mdx
  apps/web/pages/docs/index.mdx
  apps/web/pages/index.mdx
  apps/web/postcss.config.js
  apps/web/public/og.jpg
  apps/web/src/assets/csmos.png
  apps/web/src/components/Head.astro
  apps/web/src/components/Header.astro
  apps/web/src/content/config.ts
  apps/web/src/content/docs/guides/example.md
  apps/web/src/content/docs/index.mdx
  apps/web/src/content/docs/reference/example.md
  apps/web/src/env.d.ts
  apps/web/src/tailwind.css
  apps/web/styles/globals.css
  apps/web/tailwind.config.js
  apps/web/tailwind.config.mjs
  apps/web/theme.config.tsx
  apps/web/tsconfig.json
  packages/eslint-config/astro.js
  packages/eslint-config/nextjs.js
  packages/eslint-config/package.json
  packages/tsconfig/nextjs.json
  pnpm-lock.yaml
Labels: ✨ enhancement, 🖥️ website

#51 fix(docs): some styles not being applied
  apps/web/src/components/Header.astro
  apps/web/src/tailwind.css
Labels: 🐞 bug, 🖥️ website

#52 refactor(web): better header icon styles, faster images
  apps/web/astro.config.mjs
  apps/web/src/assets/csmos.png
  apps/web/src/assets/csmos.webp
  apps/web/src/components/Header.astro
  apps/web/src/content/docs/index.mdx
  apps/web/tailwind.config.mjs
Labels: ✨ enhancement, 🖥️ website

#53 feat(web): better seo
  apps/web/astro.config.mjs
  apps/web/src/content/docs/index.mdx
Labels: 🖥️ website

#55 feat(web): better theme select and less tight letter spacing
  apps/web/astro.config.mjs
  apps/web/package.json
  apps/web/src/components/Header.astro
  apps/web/src/components/ThemeSelect.tsx
  apps/web/src/tailwind.css
  apps/web/tailwind.config.mjs
  apps/web/tsconfig.json
  pnpm-lock.yaml
Labels: ✨ enhancement, 🖥️ website

#56 feat(web): highlight current theme in dropdown
  apps/web/src/components/ThemeSelect.tsx
Labels: 🖥️ website

#57 fix(web): tighter letter spacing for h1
  apps/web/src/tailwind.css
Labels: 🖥️ website

#58 feat(web): heading links, better theme dropdown styles
  apps/web/astro.config.mjs
  apps/web/package.json
  apps/web/src/components/ThemeSelect.tsx
  apps/web/src/tailwind.css
  pnpm-lock.yaml
Labels: 🖥️ website

#60 feat(bot): afk system
  apps/bot/src/commands/systems/afk.ts
  apps/bot/src/features/afk.ts
  apps/bot/src/slashCommands/systems/afk.ts
  packages/db/prisma/schema.prisma
Labels: ✨ enhancement, 🤖 bot

#61 feat(web): better styles
  apps/web/src/components/Header.astro
  apps/web/src/tailwind.css
Labels: 🖥️ website

#62 feat(web): last updated date
  apps/web/astro.config.mjs
Labels: ✨ enhancement, 🖥️ website

#63 fix(bot): invalid user create invocaton error
  apps/bot/src/features/leveling.ts
  apps/bot/src/features/messages.ts
  apps/bot/src/structures/client.ts
Labels: 🐞 bug, 🤖 bot

#64 feat(web): custom scrollbar
  apps/web/src/tailwind.css
Labels: ✨ enhancement, 🖥️ website

#65 fix(web): remove last updated for landing page
  apps/web/src/content/docs/index.mdx
Labels: 🐞 bug, 🖥️ website

#66 fix(ci): run on all pull requests
  .github/workflows/ci.yml
Labels: ⚙️ actions

#68 feat(web): 404 page
  apps/web/src/content/docs/404.mdx
Labels: ✨ enhancement, 🖥️ website

#69 fix(web): reset sidebar styles
  apps/web/src/tailwind.css
Labels: ✨ enhancement, 🖥️ website

#70 feat(web): discord and status links
  apps/web/astro.config.mjs
  apps/web/src/components/Header.astro
Labels: ✨ enhancement, 🖥️ website

#74 feat(web): actual documentation
  apps/web/astro.config.mjs
  apps/web/public/getting-started/invite-1.png
  apps/web/public/getting-started/invite-2.png
  apps/web/public/getting-started/invite-3.png
  apps/web/public/getting-started/invite-4.png
  apps/web/src/components/Header.astro
  apps/web/src/components/SocialIcons.astro
  apps/web/src/components/ThemeSelect.tsx
  apps/web/src/content/docs/commands/configuration/defaultvolume.md
  apps/web/src/content/docs/commands/configuration/prefix.md
  apps/web/src/content/docs/commands/index.md
  apps/web/src/content/docs/commands/information/help.md
  apps/web/src/content/docs/commands/information/leaderboard.md
  apps/web/src/content/docs/commands/information/ping.md
  apps/web/src/content/docs/commands/information/rank.md
  apps/web/src/content/docs/commands/information/stats.md
  apps/web/src/content/docs/commands/moderation/ban.md
  apps/web/src/content/docs/commands/moderation/delwarn.md
  apps/web/src/content/docs/commands/moderation/kick.md
  apps/web/src/content/docs/commands/moderation/mute.md
  apps/web/src/content/docs/commands/moderation/purge.md
  apps/web/src/content/docs/commands/moderation/roles.md
  apps/web/src/content/docs/commands/moderation/slowmode.md
  apps/web/src/content/docs/commands/moderation/unban.md
  apps/web/src/content/docs/commands/moderation/unmute.md
  apps/web/src/content/docs/commands/moderation/warn.md
  apps/web/src/content/docs/commands/moderation/warnings.md
  apps/web/src/content/docs/commands/music/forward.md
  apps/web/src/content/docs/commands/music/join.md
  apps/web/src/content/docs/commands/music/leave.md
  apps/web/src/content/docs/commands/music/loop.md
  apps/web/src/content/docs/commands/music/nowplaying.md
  apps/web/src/content/docs/commands/music/pause.md
  apps/web/src/content/docs/commands/music/play.md
  apps/web/src/content/docs/commands/music/previous.md
  apps/web/src/content/docs/commands/music/queue.md
  apps/web/src/content/docs/commands/music/resume.md
  apps/web/src/content/docs/commands/music/rewind.md
  apps/web/src/content/docs/commands/music/shuffle.md
  apps/web/src/content/docs/commands/music/skip.md
  apps/web/src/content/docs/commands/music/stop.md
  apps/web/src/content/docs/commands/music/unshuffle.md
  apps/web/src/content/docs/commands/music/volume.md
  apps/web/src/content/docs/commands/systems/afk.md
  apps/web/src/content/docs/docs/getting-started.md
  apps/web/src/content/docs/guides/example.md
  apps/web/src/content/docs/index.mdx
  apps/web/src/content/docs/reference/example.md
  apps/web/src/tailwind.css
  apps/web/vercel.json
Labels: 🖥️ website

#75 feat(web): make card look better
  apps/web/src/components/CardMouseMoveScript.tsx
  apps/web/src/content/docs/index.mdx
  apps/web/src/tailwind.css
  apps/web/tsconfig.json
Labels: 🖥️ website

#76 fix(web): broken getting started link in landing page
  apps/web/src/content/docs/index.mdx
Labels: 🖥️ website

#80 ci: update command docs
  apps/web/src/content/docs/commands/configuration/defaultvolume.md
  apps/web/src/content/docs/commands/configuration/prefix.md
  apps/web/src/content/docs/commands/information/help.md
  apps/web/src/content/docs/commands/information/leaderboard.md
  apps/web/src/content/docs/commands/information/ping.md
  apps/web/src/content/docs/commands/information/rank.md
  apps/web/src/content/docs/commands/information/stats.md
  apps/web/src/content/docs/commands/moderation/ban.md
  apps/web/src/content/docs/commands/moderation/delwarn.md
  apps/web/src/content/docs/commands/moderation/kick.md
  apps/web/src/content/docs/commands/moderation/mute.md
  apps/web/src/content/docs/commands/moderation/purge.md
  apps/web/src/content/docs/commands/moderation/roles.md
  apps/web/src/content/docs/commands/moderation/slowmode.md
  apps/web/src/content/docs/commands/moderation/unban.md
  apps/web/src/content/docs/commands/moderation/unmute.md
  apps/web/src/content/docs/commands/moderation/warn.md
  apps/web/src/content/docs/commands/moderation/warnings.md
  apps/web/src/content/docs/commands/music/forward.md
  apps/web/src/content/docs/commands/music/join.md
  apps/web/src/content/docs/commands/music/leave.md
  apps/web/src/content/docs/commands/music/loop.md
  apps/web/src/content/docs/commands/music/nowplaying.md
  apps/web/src/content/docs/commands/music/pause.md
  apps/web/src/content/docs/commands/music/play.md
  apps/web/src/content/docs/commands/music/previous.md
  apps/web/src/content/docs/commands/music/queue.md
  apps/web/src/content/docs/commands/music/resume.md
  apps/web/src/content/docs/commands/music/rewind.md
  apps/web/src/content/docs/commands/music/shuffle.md
  apps/web/src/content/docs/commands/music/skip.md
  apps/web/src/content/docs/commands/music/stop.md
  apps/web/src/content/docs/commands/music/unshuffle.md
  apps/web/src/content/docs/commands/music/volume.md
  apps/web/src/content/docs/commands/systems/afk.md
Labels: 🖥️ website, ci, documentation

#81 refactor(db): move to drizzle
  apps/bot/package.json
  apps/bot/src/commands/configuration/defaultvolume.ts
  apps/bot/src/commands/configuration/prefix.ts
  apps/bot/src/commands/information/help.ts
  apps/bot/src/commands/information/leaderboard.ts
  apps/bot/src/commands/information/rank.ts
  apps/bot/src/commands/information/stats.ts
  apps/bot/src/commands/moderation/delwarn.ts
  apps/bot/src/commands/moderation/warn.ts
  apps/bot/src/commands/moderation/warnings.ts
  apps/bot/src/commands/music/pause.ts
  apps/bot/src/commands/music/previous.ts
  apps/bot/src/commands/music/resume.ts
  apps/bot/src/commands/music/skip.ts
  apps/bot/src/commands/music/stop.ts
  apps/bot/src/commands/music/unshuffle.ts
  apps/bot/src/commands/systems/afk.ts
  apps/bot/src/events/messageCreate.ts
  apps/bot/src/features/afk.ts
  apps/bot/src/features/leveling.ts
  apps/bot/src/features/messages.ts
  apps/bot/src/slashCommands/configuration/set.ts
  apps/bot/src/slashCommands/information/help.ts
  apps/bot/src/slashCommands/information/leaderboard.ts
  apps/bot/src/slashCommands/information/rank.ts
  apps/bot/src/slashCommands/information/stats.ts
  apps/bot/src/slashCommands/moderation/delwarn.ts
  apps/bot/src/slashCommands/moderation/warn.ts
  apps/bot/src/slashCommands/moderation/warnings.ts
  apps/bot/src/slashCommands/music/pause.ts
  apps/bot/src/slashCommands/music/previous.ts
  apps/bot/src/slashCommands/music/resume.ts
  apps/bot/src/slashCommands/music/skip.ts
  apps/bot/src/slashCommands/music/stop.ts
  apps/bot/src/slashCommands/music/unshuffle.ts
  apps/bot/src/slashCommands/systems/afk.ts
  apps/bot/src/structures/client.ts
  apps/bot/src/utils/env.ts
  apps/bot/src/utils/player.ts
  apps/bot/src/utils/prefix.ts
  packages/db/db.ts
  packages/db/drizzle.config.ts
  packages/db/index.ts
  packages/db/package.json
  packages/db/prisma/schema.prisma
  packages/db/queries/afks.ts
  packages/db/queries/guild.ts
  packages/db/queries/users.ts
  packages/db/queries/warnings.ts
  packages/db/schema.ts
  pnpm-lock.yaml
  turbo.json
Labels: 🤖 bot

#86 feat(bot): send introduction message when joining a server
  apps/bot/src/events/guildCreate.ts
  packages/db/queries/guild.ts
Labels: 🤖 bot

#88 feat(join-msg): add support server
  apps/bot/src/events/guildCreate.ts
Labels: 🤖 bot

#90 feat(leveling): improve rank card
  apps/bot/src/commands/information/rank.ts
  assets/rankcard.jpg
Labels: ✨ enhancement, 🤖 bot

#91 fix(leveling): add improvements to rank card in slash command
  apps/bot/src/slashCommands/information/rank.ts
Labels: ✨ enhancement, 🤖 bot

#92 feat(docs): generate command categories automatically
  apps/web/astro.config.mjs
  apps/web/command-categories.mjs
  scripts/docgen/commands.mjs
Labels: ✨ enhancement, ⚙️ actions, 🖥️ website

#93 ci: update command docs
  apps/web/command-categories.mjs
Labels: 🖥️ website, ci

#89 feat(cmds): add fun commands
  apps/bot/modules.d.ts
  apps/bot/package.json
  apps/bot/src/commands/fun/8ball.ts
  apps/bot/src/commands/fun/coinflip.ts
  apps/bot/src/commands/fun/randomcolor.ts
  apps/bot/src/commands/fun/roll.ts
  apps/bot/src/commands/games/rockpaperscissors.ts
  apps/bot/src/commands/games/snake.ts
  apps/bot/src/commands/games/tictactoe.ts
  apps/bot/src/slashCommands/fun/8ball.ts
  apps/bot/src/slashCommands/fun/coinflip.ts
  apps/bot/src/slashCommands/fun/randomcolor.ts
  apps/bot/src/slashCommands/fun/roll.ts
  apps/bot/src/slashCommands/games/rockpaperscissors.ts
  apps/bot/src/slashCommands/games/snake.ts
  apps/bot/src/slashCommands/games/tictactoe.ts
  apps/bot/src/utils/games.ts
  apps/bot/src/utils/random.ts
  apps/bot/tsconfig.json
  pnpm-lock.yaml
Labels: ✨ enhancement, 🤖 bot

#94 ci: update command docs
  apps/web/command-categories.mjs
  apps/web/src/content/docs/commands/fun/8ball.md
  apps/web/src/content/docs/commands/fun/coinflip.md
  apps/web/src/content/docs/commands/fun/randomcolor.md
  apps/web/src/content/docs/commands/fun/roll.md
  apps/web/src/content/docs/commands/games/rockpaperscissors.md
  apps/web/src/content/docs/commands/games/snake.md
  apps/web/src/content/docs/commands/games/tictactoe.md
Labels: 🖥️ website, ci

#95 feat(cmds): add more fun commands
  apps/bot/package.json
  apps/bot/src/commands/fun/emojify.ts
  apps/bot/src/commands/fun/meme.ts
  apps/bot/src/commands/fun/rate.ts
  apps/bot/src/commands/games/2048.ts
  apps/bot/src/commands/games/connect4.ts
  apps/bot/src/commands/games/matchpairs.ts
  apps/bot/src/slashCommands/fun/emojify.ts
  apps/bot/src/slashCommands/fun/meme.ts
  apps/bot/src/slashCommands/fun/rate.ts
  apps/bot/src/slashCommands/games/2048.ts
  apps/bot/src/slashCommands/games/connect4.ts
  apps/bot/src/slashCommands/games/matchpairs.ts
  pnpm-lock.yaml
Labels: ✨ enhancement, 🤖 bot

#96 ci: update command docs
  apps/web/src/content/docs/commands/fun/emojify.md
  apps/web/src/content/docs/commands/fun/meme.md
  apps/web/src/content/docs/commands/fun/rate.md
  apps/web/src/content/docs/commands/games/2048.md
  apps/web/src/content/docs/commands/games/connect4.md
  apps/web/src/content/docs/commands/games/matchpairs.md
Labels: 🖥️ website, ci

#105 feat(cmds): add member count command
  apps/bot/src/commands/information/membercount.ts
Labels: 🤖 bot

#106 ci: update command docs
  apps/web/src/content/docs/commands/information/membercount.md
Labels: 🖥️ website, ci

#107 feat(cmds): add member count slash command
  apps/bot/src/slashCommands/information/membercount.ts
Labels: 🤖 bot

#117 chore(deps): upgrade all
  apps/bot/package.json
  apps/web/package.json
  packages/db/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Labels: 🔗 dependencies, 🤖 bot, 🖥️ website

#118 feat(actions): add lighthouse action
  .github/workflows/lighthouse.yml
Labels: ⚙️ actions

#119 feat(commands): add server and member info commands
  apps/bot/src/commands/information/serverinfo.ts
  apps/bot/src/commands/information/userinfo.ts
  apps/bot/src/slashCommands/information/serverinfo.ts
  apps/bot/src/slashCommands/information/userinfo.ts
  apps/bot/src/utils/config.ts
  config.example.yml
Labels: 📖 documentation, 🤖 bot

#120 ci: update command docs
  apps/web/src/content/docs/commands/information/serverinfo.md
  apps/web/src/content/docs/commands/information/userinfo.md
Labels: 🖥️ website, ci
