Repository csmosbot/csmos, pull requests merged in 2024-02, with the labels that each got.

#177 feat(docs): overhaul
  apps/web/astro.config.mjs
  apps/web/package.json
  apps/web/src/components/Head.astro
  apps/web/src/components/Header.astro
  apps/web/src/content/docs/docs/introduction.md
  apps/web/src/content/docs/docs/invite.md
  apps/web/src/content/docs/index.mdx
  apps/web/src/tailwind.css
  apps/web/tailwind.config.mjs
  pnpm-lock.yaml
Labels: ✨ enhancement, 🖥️ website

#192 fix(docs): update github urls
  README.md
  apps/web/astro.config.mjs
  apps/web/src/content/docs/404.mdx
  apps/web/src/content/docs/docs/introduction.md
  apps/web/src/content/docs/index.mdx
  scripts/docgen/commands.js
Labels: 📖 documentation, 🖥️ website

#193 ci: update command docs
  apps/web/src/content/docs/commands/configuration/set.md
  apps/web/src/content/docs/commands/fun/8ball.md
  apps/web/src/content/docs/commands/fun/coinflip.md
  apps/web/src/content/docs/commands/fun/emojify.md
  apps/web/src/content/docs/commands/fun/meme.md
  apps/web/src/content/docs/commands/fun/randomcolor.md
  apps/web/src/content/docs/commands/fun/rate.md
  apps/web/src/content/docs/commands/fun/roll.md
  apps/web/src/content/docs/commands/games/2048.md
  apps/web/src/content/docs/commands/games/connect4.md
  apps/web/src/content/docs/commands/games/matchpairs.md
  apps/web/src/content/docs/commands/games/rockpaperscissors.md
  apps/web/src/content/docs/commands/games/snake.md
  apps/web/src/content/docs/commands/games/tictactoe.md
  apps/web/src/content/docs/commands/information/help.md
  apps/web/src/content/docs/commands/information/leaderboard.md
  apps/web/src/content/docs/commands/information/membercount.md
  apps/web/src/content/docs/commands/information/ping.md
  apps/web/src/content/docs/commands/information/rank.md
  apps/web/src/content/docs/commands/information/serverinfo.md
  apps/web/src/content/docs/commands/information/stats.md
  apps/web/src/content/docs/commands/information/userinfo.md
  apps/web/src/content/docs/commands/moderation/ban.md
  apps/web/src/content/docs/commands/moderation/delwarn.md
  apps/web/src/content/docs/commands/moderation/kick.md
  apps/web/src/content/docs/commands/moderation/mute.md
  apps/web/src/content/docs/commands/moderation/purge.md
  apps/web/src/content/docs/commands/moderation/roles.md
  apps/web/src/content/docs/commands/moderation/slowmode.md
  apps/web/src/content/docs/commands/moderation/unban.md
  apps/web/src/content/docs/commands/moderation/unmute.md
  apps/web/src/content/docs/commands/moderation/warn.md
  apps/web/src/content/docs/commands/moderation/warnings.md
  apps/web/src/content/docs/commands/music/forward.md
  apps/web/src/content/docs/commands/music/join.md
  apps/web/src/content/docs/commands/music/leave.md
  apps/web/src/content/docs/commands/music/loop.md
  apps/web/src/content/docs/commands/music/nowplaying.md
  apps/web/src/content/docs/commands/music/pause.md
  apps/web/src/content/docs/commands/music/play.md
  apps/web/src/content/docs/commands/music/previous.md
  apps/web/src/content/docs/commands/music/queue.md
  apps/web/src/content/docs/commands/music/resume.md
  apps/web/src/content/docs/commands/music/rewind.md
  apps/web/src/content/docs/commands/music/shuffle.md
  apps/web/src/content/docs/commands/music/skip.md
  apps/web/src/content/docs/commands/music/stop.md
  apps/web/src/content/docs/commands/music/unshuffle.md
  apps/web/src/content/docs/commands/music/volume.md
  apps/web/src/content/docs/commands/systems/afk.md
Labels: 🖥️ website, ci

#194 feat(bot): welcomer and leaver system
  apps/bot/src/commands/systems/leaver.ts
  apps/bot/src/commands/systems/welcomer.ts
  apps/bot/src/features/leaver.ts
  apps/bot/src/features/welcomer.ts
  apps/bot/src/utils/bot-options.ts
  apps/bot/src/utils/variables.ts
  packages/db/index.ts
  packages/db/queries/leavers.ts
  packages/db/queries/welcomers.ts
  packages/db/schema.ts
Labels: 🤖 bot

#196 feat(docgen): run in prs
  .github/workflows/docgen-pr.yml
  apps/web/src/content/docs/commands/systems/leaver.md
  apps/web/src/content/docs/commands/systems/welcomer.md
Labels: ⚙️ actions, 🖥️ website

#209 feat(web): new font
  apps/web/astro.config.mjs
  apps/web/package.json
  apps/web/tailwind.config.mjs
  pnpm-lock.yaml
Labels: ✨ enhancement, 🖥️ website

#210 chore(packages): update all dependecies
  apps/bot/package.json
  apps/web/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: ✨ enhancement, 🤖 bot, 🖥️ website

#224 fix(web): "get started" button returning 404
  apps/web/src/content/docs/index.mdx
Labels: 🖥️ website
